body {
  background-color: rgba(140, 137, 121, 1);
  color: rgba(242, 242, 242, 1);
  overflow-x: hidden;
}

header .col-lg-12 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  background-image: url("./images/pizzaFour.jpg");
  background-size: cover;
  background-size: no-repeat;
  background-repeat: no-repeat;
  background-position: center center;
}

h1 {
  color: rgba(246, 10, 32, 1);
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  font-size: 30px;
}

h4 {
  font-weight: bold;
  color: rgba(64, 64, 64, 1);
}

.container {
  display: inline-block;
    margin-left: 20px;
}

.rowOne, .rowTwo, .rowThree, .rowThreeOne, .rowFour, .rowFive, .rowSix, .rowSeven, .rowEight    {
  margin-left: 10px;
  margin-bottom: 20px;
}

.getTotalBox {
  border: 1px rgba(64, 64, 64, 1) solid;
  margin-top: 20px;
  padding-bottom: 40px;
}

.cost {
  margin-bottom: 35px;
}

.btn-primary {
  margin-top: 25px;
  margin-bottom: 10px;
}

.btn-success {
  margin-top: 40px;
  margin-bottom: 20px;
}

.socialMedia {
  margin-top: 80px;
}
